<div style="height: 100vh;">
    <div class="card-part">
        <div class="padding" style="margin-top: 50px;">
            <p style="text-align: left; line-height: 220%;">
                개발에 관한 오류제보, 기능요청, 기타 등등 !! <br>
                하고 싶은 말을 적어주세요 👏🏻 <br>
                반영하도록 하겠습니다 ʕ•ﻌ•ʔ ♡
            </p>

            <textarea [(ngModel)]="contents" style="width: 100%; height: 60%; padding: 3px; border: 1px solid #BAC4DA; border-radius: 10px; resize: none;">

            </textarea>

            <br>
            <button class="btn" (click)="add_request()">전송</button>
        </div>
    </div>
</div>