
.signup-popup {
    width: 100%;
    text-align: center;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 99, 99, 0.9);
  }
  
  .popup {
    display: flex;
    width: 50%;
    height: 55%;
    background-color: rgba(228, 228, 228);
    vertical-align: middle;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 100;
  }
  
  
  .popup-p {
    // font-size: 28px;
    line-height: 220%;
    text-align: center;
    margin-bottom: 10px;
  }

  .card-part {
    height: 100%;
    width: 100%;
    text-align: center;
    // display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 30px;
  }
  
  .card-part-2 {
    width: 100%;
    text-align: center;
    // height: 15vh;
  }
  
  .padding {
    display: inline-block;
    width: 80%;
    // padding: 10px;
    text-align: center;
    display: inline-block;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
  }