.app {
  margin-top: 15px;
  height: 13vh;
  // background-color: antiquewhite;
  text-align: center;
}

img {
  width: 130px;
  vertical-align: middle;
}

.hamburger {
  vertical-align: middle;
  display: inline-block
}

button {
  background: transparent;
  border: none;
}

#menu {
  position: absolute;
  width: 50px;
  right: 20px;
  top: 20px
}

#menu>span {
  display: block;
  width: 100%;
  height: 8px;
  background: #BAC4DA;
  margin: 4px 0;
  border-radius: 10px;
  transition: all 0.5s;
}



#menu>.on:nth-child(1) {
  transform: translateY(15px) rotate(225deg);
  transition-delay: 0.2s;
}

#menu>.on:nth-child(2) {
  opacity: 0;
  transform: translateX(50px);
}

#menu>.on:nth-child(3) {
  transform: translateY(-11px) rotate(-225deg);
  transition-delay: 0.2s;
}

.layer{
    top: 0; bottom: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 100;
    text-align: center;
    background-color: rgba(228, 228, 228, 0.85);
    // background-color: #E4E4E4;
    // opacity: 0.3;
}

p{
    font-size: 35px;
}

.layer-item{
    text-align: left; 
    left: 50%; 
    position: absolute; 
    margin-top: 15%;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(212, 212, 212);
    color: white;
}