<div class="app">
    <div class="dd" style="width: 40px">
        <!-- <img src="assets/img/hamburger.png" style="width: 40px;" (click)="link_to_main()"> -->
    </div>
    <div class="dd">
        <img src="assets/img/logo-1.png" style="margin-right: -10px;" (click)="link_to_main()">
    </div>
    <div class="dd">
        <img src="assets/img/hamburger.png" style="width: 40px; margin-top: 15px; margin-right: 10px;" (click)="layer_popup_open()">
    </div>
    
    <!-- <div class="hamburger" (click)="layer_popup_open()">
        <button type="button" name="button" id="menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div> -->
</div>

<!-- <div style="width: 100%; background-color: antiquewhite;">
dd
</div> -->
<!--레이어 팝업 -->
<div class="layer" *ngIf="opened">
    <!-- dd -->
    <div class="layer-item">
        <p (click)="layer_popup_close()"><b>X</b></p>
        <p *ngIf="!my" (click)="signup()">회원가입</p>
        <p *ngIf="my" (click)="link_to_page('my-info')">내 정보</p>
        <ng-container *ngFor="let item of list">
            <p (click)="link_to_page(item.link)">{{item.label}}</p>
        </ng-container>
        <p *ngIf="my" (click)="logout()">로그아웃</p>
    </div>  
</div>

<br>
<br>

<div class="signup-popup" *ngIf="sign_opened">
    <div class="popup">
        <span class="close-btn" (click)="layer_popup_close()">X</span>
        <div style="width: 60%;">
            <span class="popup-p">
                잠깐 ! <br>
                카드를 보내려면 회원가입이 필요해요 🙃 <br>
    
                1초만에 회원가입하기!
            </span>
    
            <button class="kakao-btn" (click)="login_kakao()">카카오톡으로 가입하기</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<!-- <footer>
    <address>Copyright © 2020 2u_jinn. All rights reserved.</address>
</footer> -->