.notes {
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 12px 15px;
    resize: none;
    border: none;
    width: 100%;
    height: 500px;
    border-radius: 12px;
    margin-top: 10px;
}

.main{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding{
    display: inline-block;
    width: 70%;
    padding: 10px;
    // text-align: center;
}

.card-title {
    font-weight: bold;
    font-size: 23px;
}

.btn {
    background-color: #BAC4DA;
    border: none;
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    width: 200px;
    margin-right: -27px;
    margin-top: 8px;
  }
  

  select{
      width: 150px;
      height: 30px;
      border: 1px solid #BAC4DA;
      border-radius: 5px;
  }

  .header {
    display: flex;
 }
 .logo,
 .search,
 .gnb {
    flex: 0 0 auto; /* flex:none */
 }
 .gnb {
    margin-left: auto;
 }
 .search {
    display: flex;
 }
 input {
    flex: 1;
 }