<!-- 카드를 씁시다! -->
 <div class="main">
    <div class="padding">
        <div style="display: inline-flex; width: 100%; justify-content: center;
        align-items: center; height: 70vh;">
            <div style="flex: 1; padding: 20px">
                <span class="card-title">💌 어쩌구 카드</span>
                <img src="assets/img/card-ex-1.png" style="width: 100%;">
            </div>
            <div style="flex: 1.4;">
                <div style="width: 100%;">
                    <select class="select">
                        <option *ngFor="let item of font_list">{{item.name}}</option>
                    </select>
                    <div style="float: right;">
                        <div class="color"></div>
                    </div>
                </div>
                <textarea class="notes"></textarea>
                <div style="width: 100%; text-align: right;">
                    <button class="btn">다 작성했어요!</button>
                </div>
            </div>
        </div>


    </div>
 </div>   

<!--  -->