<!-- 카드를 씁시다! -->
 <div class="main">
    <div class="padding">
        <div style="display: inline-flex; width: 100%; justify-content: center;
        align-items: center; height: 70vh;">
            <div style="flex: 1; padding: 20px">
                <span class="card-title">💌 {{card_data.card_title}}</span>
                <img [src]="card_data.card_img_url" style="width: 100%;">
            </div>
            <div style="flex: 1.4;">
                <div style="width: 100%;">
                    <select class="select">
                        <option *ngFor="let item of font_list">{{item.name}}</option>
                    </select>
                    <div style="float: right;">
                        <div class="color" (click)="open_popup()"></div>
                    </div>
                </div>
                <textarea class="notes"></textarea>
                <div style="width: 100%; text-align: right;">
                    <button class="btn" >다 작성했어요!</button>
                </div>
            </div>
        </div>
    </div>
 </div>   


 <!-- 색상 선택 팝업 -->
 <div class="color-popup" *ngIf="opened">
    <div class="popup">
        <span class="close-btn" (click)="close_popup()">X</span>
        <div class="color-item">
            <div class="item" [style.background-color]="item.color" *ngFor="let item of color_list" (click)="select_color(item)">
            </div>
            &nbsp;
            <br>
            <br>
            <div style="width: 100%; height: 200px; border-radius: 20px; background-color: antiquewhite;">
            </div>
        </div>
    </div>
</div>

<!-- 작성 끝 공유 팝업 !!!!!! -->