<!-- 검색 영역 -->
<div class="card-main">
    <div class="search">
        <div class="padding">
            <p>
                어떤 카드를 보내야 <br>
                잘 보냈다고 <br>
                소문이 날까 🤔 <br>
                <span>지금 키워드로 검색해보세요!  <b style="color: #3B599A;">#크리스마스 #2021년 #생일</b></span>
            </p>
            <div class="search-part">
                <div class="search-bar">
                    <input type="text" class="search-input" placeholder="키워드를 입력해주세요!">
                </div>
                <div class="search-btn-flex">
                    <button class="search-btn">검색</button>
                </div>
            </div>
        </div>
    </div>
</div>