p {
  font-weight: bold;
  font-size: 28px;
  line-height: 220%;

  span {
    font-size: 17px;
    font-weight: normal;
  }

  margin-bottom: -8px; // 기본적으로 p태그는 margin이 들어가있음 -> 빼줫음 ㅎㅎ
}

.search {
  width: 100%;
  text-align: center;
}

.padding {
  margin-top: 60px;
  display: inline-block;
  width: 80%;
  text-align: left;
}

.card-main {
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 97%;
  height: 25px;
  border-radius: 10px;
  border: 1px solid #BAC4DA;
  padding: 5px 5px;
  font-size: 18px;
}

.search-btn {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #BAC4DA;
  padding: 5px 5px;
}

.search-part {
  width: 100%;
  display: inline-flex
}

.search-bar {
  flex: 8;
  text-align: left;
}

.search-btn-flex {
  flex: 2;
}

.search-result{
    // height: 40vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-title{
    font-size: 25px;
}

.card-item {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
  }
  
  .item {
    flex: auto;
    width: 100%;
    height: 240px;
    background-color: rgb(187, 186, 186);
    margin-right: 10px;
    border-radius: 13px;
    margin-bottom: 10px;
    background-size: cover;
    background-position : center;
    background-repeat: no-repeat;
  }