<div style="min-height: 100vh;">
    <!-- 검색 영역 -->
<div class="card-main">
    <div class="search">
        <div class="padding">
            <p>
                어떤 카드를 보내야 <br>
                잘 보냈다고 <br>
                소문이 날까 🤔 <br>
            </p>
            <br>
            <span>지금 키워드로 검색해보세요! <br><br>  
            <b style="color: #3B599A;;">#크리스마스 #2021년 #생일</b></span>
            <br>
            <br>
            <div class="search-part">
                <div class="search-bar">
                    <input type="text" (keyup.enter)="search_card()"class="search-input" placeholder="키워드를 입력해주세요!" [(ngModel)]="keyword" >
                </div>
                <!-- <div class="search-btn-flex">
                    <button class="search-btn" (click)="search_card()">검색</button>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- 검색 결과 영역 -->
<div class="search-result" *ngIf="show">
    <div class="search">
        <div class="padding">
            <span class="result-title"><b>‘{{keyword}}’</b> 에 대한 결과</span>

            <div class="card-item">
                <div class="item" *ngFor="let item of data_list" (click)="link_to_card_view(item.card_idx)" [style.backgroundImage]="'url('+ item.card_img_url +')'" >
                </div>
                <div *ngIf="data_list.length==0">
                    검색결과가 없습니다 ㅠㅠ 
                </div>
                &nbsp;
            </div>
        </div>
    </div>
</div>
</div>
