<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
=======
body{
    margin:0; padding:0;
    z-index: 1;
    background-color: #ebebebf5;
}

button:focus{ // 버튼 클릭시 파란 테두리 없앰
    outline: 0 !important;
}
>>>>>>> 7cdbf619fc1796bf0228daf543cf6caae8caf61f
