body *{
    font-family: 'MaruBuri-Regular';
    color: rgb(51, 51, 51);
    z-index: 1;
    // background-color: #0E79B4;
}

button:focus{ // 버튼 클릭시 파란 테두리 없앰
    outline: 0 !important;
}

input:focus { //input 박스 테두리
    outline: none; 
}

textarea:focus{
    outline: none; 
}

select:focus{
    outline: none;
}

button input textarea{
  font-family: 'MaruBuri-Regular';
}

@media screen and (min-width: 769px) {
    body {
      font-size: 20px;
      .testttt {
        margin-left: 40%;
        max-width: 480px;
        background: white;

        -webkit-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
      }

      background: #f6f6f6 !important; //html배경색상은 고정
    }

    .card-arrow {
      text-align: right;
      font-size: 18px;
      flex: 1;
    }

    .message{
      font-size: 18px;
    }
  }

  // ~768까지
  @media screen and (max-width: 768px) {
    body {
      font-size: 18px;
      // border:1px solid red;
      background: white;
      .testttt {
        // max-width:430px;
        width: 100%;
        margin: 0 auto;
        // margin-left:50%;
        // border:1px solid #efefef;
      }
    }

    .card-arrow {
      // font-weight: bold;
      text-align: right;
      font-size: 16px;
      flex: 1;
    }

    button{
      font-size: 14px;
    }

    .message{
      font-size: 13px;
    }
  }

  @font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  } 

  @font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Binggrae-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  } 

