<!-- 대빵 큰 카드이미지  -->
<div class="card-part">
    <div class="padding">
        <img src="assets/img/card-ex-1.png" style="width: 100%;">
    </div>
</div>
<br>
<!-- 카드 설명과 버튼! -->
<div class="card-part-2">
    <div class="card-bottom">
        <div style="flex: 1; text-align: left;">
            <span class="card-title">💌 어쩌구 카드</span>
            <div style="width: 100%;">
                <p>
                    솔로인 친구에게 보내보세요! <br>
                    당신의 재치와 유머러스의 솔로인 친구들은 감동만점! <br>
                    얄미운 도우너와 둘리가 솔크를 외롭지 않게 해드려요 :)
                </p>
            </div>
        </div>
        <div style="flex: 1;  position:relative;">
            <button class="btn">이 카드로 할래요!</button>
        </div>
    </div>
</div>