.card-part {
    height: 100%;
    width: 100%;
    text-align: center;
}

.card-part-2{
    width: 100%;
    text-align: center;
    height: 15vh;
}

.padding {
    display: inline-block;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.card-bottom{
    width: 50%;
    height: 100%;
    display: inline-flex;
}

.card-title {
    font-weight: bold;
    font-size: 23px;
    flex: 1;
}

.btn{
    background-color: #BAC4DA;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    position:absolute; bottom:0px; left: 0;
    margin-bottom: 15px;
}


p {
    font-size: 20px;
    line-height: 190%;
  }
  