<!-- 대빵 큰 카드이미지  -->
<ng-container *ngIf="card_data">
    <div class="card-part">
        <div class="padding">
            <img [src]="card_data.card_img_url" style="width: 100%; border-radius: 10px;">
        </div>
    </div>
    <br>
    <!-- 카드 설명과 버튼! -->
    <div class="card-part-2">
        <div class="card-bottom">
            <div style="flex: 1; text-align: left;">
                <span class="card-title">💌 {{card_data.card_title}} 카드</span>
                <div style="width: 100%;">
                    <p>
                        {{card_data.card_describe}}
                    </p>
                </div>
            </div>
            <div style="flex: 1; position:relative;">
                <button class="btn" (click)="select_card()">이 카드로 할래요!</button>
            </div>
        </div>
    </div>
    
</ng-container>

<!-- 회원가입 안했을 시에 나타나아ㅏ아아암 --> 
<div class="signup-popup" *ngIf="opened">
    <div class="popup">
        <span class="close-btn" (click)="close_popup()">X</span>
        <div style="width: 60%;">
            <span class="popup-p">
                잠깐 ! <br>
                카드를 보내려면 회원가입이 필요해요 🙃 <br>
    
                1초만에 회원가입하기!
            </span>
    
            <button class="kakao-btn" (click)="login_kakao()">카카오톡으로 가입하기</button>
        </div>
    </div>
</div>